appdirs==1.4.4
Babel==2.9.0
bce-python-sdk==0.8.59
certifi==2020.4.5.1
cfgv==3.2.0
chardet==3.0.4
click==7.1.1
cycler==0.10.0
decorator==4.4.2
distlib==0.3.1
filelock==3.0.12
flake8==3.9.1
Flask==1.1.2
Flask-Babel==2.0.0
funcsigs==1.0.2
future==0.18.2
graphviz==0.13.2
identify==2.2.4
idna==2.9
importlib-metadata==4.0.1
itsdangerous==1.1.0
jieba==0.39
Jinja2==2.11.3
joblib==0.14.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
nltk==3.4
nodeenv==1.6.0
numpy==1.14.5
objgraph==3.4.1
opencv-python==3.4.2.17
paddlepaddle-gpu==1.7.2.post107
pathlib2==2.3.2
Pillow==7.1.1
pre-commit==2.12.1
prettytable==0.7.2
protobuf==3.11.3
pycodestyle==2.7.0
pycryptodome==3.10.1
pyflakes==2.3.1
pyparsing==2.4.7
pyrouge==0.1.3
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.3.1
pyzmq==18.0.2
rarfile==3.1
regex==2020.4.4
requests==2.23.0
scikit-learn==0.20.3
scipy==1.2.1
sentencepiece==0.1.8
shellcheck-py==0.7.2.1
singledispatch==3.6.1
six==1.11.0
sklearn==0.0
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.32.2
typing-extensions==3.7.4.3
urllib3==1.25.8
virtualenv==20.4.4
visualdl==2.1.1
Werkzeug==1.0.1
zipp==3.4.1
